<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MovieOrganizer_2Leggo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MovieOrganizer_2Leggo.Properties.Settings>
            <setting name="profilepic" serializeAs="String">
                <value>pf.jpg</value>
            </setting>
            <setting name="BaseFolder" serializeAs="String">
                <value />
            </setting>
        </MovieOrganizer_2Leggo.Properties.Settings>
    </userSettings>
</configuration>